{% extends "base_home.html" %}
{% load static %}

{% block content %}
    <h1>Twistter</h1> 
    <p>Rede social feita para voce</p> 
    <img src="{% static '//white_pegasus2.png' %}" alt="">
    <form class="form-horizontal jumbotron text-center" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username.label_tag }}
                {{ form.username }}
            {{ form.password.label_tag }}
                {{ form.password }}
            <button type="submit" class="btn btn-default">Entrar</button>
        </div>
    </form>

    {% comment %} <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-10">
        {{ form.username }}
    </div>
    </div>
    <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
        {{ form.password }}
    </div>
    </div>
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
        <label>
            <input type="checkbox"> Remember me
        </label>
        </div>
    </div>
    </div>
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default pull-center">Entrar</button>
    </div>
    </div>

</form> {% endcomment %}
{% endblock %}