<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
  <title>Twistter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">

</head>
<body>
  <div id="home_marketing" class="col-xs-6">
    <div id="text_home">
    <h3><i class="fas fa-search"></i>Siga pessoas inuteis</h3>
    <h3><i class="fas fa-poop"></i>Veja como seus amigos sao falsos</h3>
    <h3><i class="fas fa-comments"></i>Participe de conversas bobas</h3>
    </div>
  </div>
  <div class="col-xs-6 text-center" id="content_home">
    {% block content %}{% endblock %}
  </div>
</body>
</html>