{% extends "base_home.html" %}
{% load static %}

{% block content %}
        <h1><img src="{% static '//white_pegasus2.png' %}" alt="">Twistter</h1> 
        <h2>Veja o que está acontecendo no mundo agora</h2>
        
        <p>Participe hoje do Twistter</p>
        <div id="button_home">
            <div id="inscrevase">
                <a href="{% url 'signup' %}">
                    <button type="button" class="btn btn-primary btn-block">inscreva-se</button>
                </a>
            </div>
            <a href="{% url 'login' %}">
                <button type="button" class="btn btn-default btn-block">Entrar</button>
            </a>
        </div>
        <div id="icones_app">
            <h3>Disponivel na
                <i class="fab fa-app-store"></i>
                <i class="fab fa-android"></i>
            </h3>
        </div>
{% endblock %}
