{% extends "base.html" %}

{% block content %}
    <h2>Busque seus amigos</h2>
    <form method="get">
        {{ form.user }}
        <input  class="btn btn-default" type="submit" value="buscar">
    </form>
    {% if query %}
    {% for user in object_list %}
        <h3>
            {{ user.username }}
            <a href="{% url 'make_friend' request.user.pk user.pk %}">
                    <i class="fas fa-plus-square"></i>
            </a>
        <h3>
    {% endfor %}
    {% endif %}
{% endblock  %}