{% extends "base_dashboard.html" %}

{% block header %}

{% endblock %}
{% block content-left %}
        <h3>Seguindo</h3>
    {% for friend in request.user.profile.friends.all %}
        <h4>
            <a href="{% url 'profile' friend.pk %}">
                {% firstof friend.get_full_name friend.username %}
            </a>
            <a href="{% url 'remove_friend' request.user.pk friend.pk %}">
                <i class="fas fa-user-minus"></i>
            </a>
        </h4>
    {% endfor %}
{% endblock %}

{% block content-middle %}
            <div id="form-post">
                <form action="{% url 'post_create' %}" method="post">
                    {% csrf_token %}
                    <div id="pergunta">
                        <input type="text" class="form-control" id="id_text" name="text" placeholder="No que voce está pensando?" maxlength="500" required>
                    </div>
                </form>
            </div>
                {% for post in object_list %}
                    <div id="posts" class="">
                        <p>as {{ post.time.hour }}hrs</p>
                        <h3>@{{ post.user }} say:</h3>
                        <div id="post-text">
                            <p><strong>{{ post.text }}</strong></p>
                        </div>
                    </div>
                {% endfor %}
            
{% endblock %}

{% block content-right %}
    {% comment %} <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal"  method="post" >
                    {% csrf_token %}
                    <div class="form-group" id="form-bio">
                            <textarea name="biografia" cols="40" rows="10" id="id_biografia">{{ form_bio.biografia.value }}</textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a href="{% url 'edit_biografia' %}"><button type="button" class="btn btn-primary">Save changes</button></a>
            </div>
            </div>
        </div>
    </div> {% endcomment %}
    <a href="{% url 'search' %}" method="get">
        Buscar amigos
    </a>
    <br>
    <div id="biografia">
        <h3>Biografia</h3>
        <div id="biografia-text">
            {% if user.profile.biografia != null %}
                <h4>{{ user.profile.biografia }}</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}